<div class="container">
  
    
    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    
      <table class="table table-bordered" formArrayName="properties">
        <tr>
          <th colspan="2">添加物模型属性</th>
          <th width="150px"><button type="button" (click)="addQuantity()" class="btn btn-primary">增加属性</button></th>
        </tr>
        <tr *ngFor="let quantity of properties().controls; let i=index" [formGroupName]="i">
          <td>
              名称 :
              <input type="text" formControlName="name" class="form-control">
          </td>
          <td>
              属性 :
              <!-- <input type="text" formControlName="type" class="form-control"> -->
              <select formControlName="type"> 
                <option *ngFor="let t of gettypes()">{{t}}</option>
              </select>
          </td>
          <td>
            是否静态属性
          <input formControlName="isTag" type="checkbox"/>
          </td>
          <td>
              <button (click)="removeQuantity(i)" class="btn btn-danger">Remove</button>
          </td>
        </tr>
      </table>

    </form>
      
    <br/>
    {{this.productForm.value | json}}
  </div>